.about-head {
    padding: 150px;
    /* border: 1px solid black; */
    background-color: #07212e;
}

.about-head h4 {
    color: #F28123;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}

.about-head h1 {
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    margin: 0;
    margin-top: 20px;
}

.second-head {
    margin-top: 60px;
}

.second-head h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 30px;
}
.deliveryy{
    display: block;
    font-size: 24px;
    color: #F28123;
    width: 65px;
    height: 65px;
    text-align: center;
    border: 2px #F28123 dotted;
    border-radius: 999px;
    margin-bottom: 20px;
    padding: 10px;
}
.price{
    display: block;
    font-size: 24px;
    color: #F28123;
    width: 65px;
    height: 65px;
    text-align: center;
    border: 2px #F28123 dotted;
    border-radius: 999px;
    margin-bottom: 20px;
    padding: 10px;
}
.custom{
    display: block;
    font-size: 24px;
    color: #F28123;
    width: 65px;
    height: 65px;
    text-align: center;
    border: 2px #F28123 dotted;
    border-radius: 999px;
    margin-bottom: 20px;
    padding: 10px;
}
.refund{
    display: block;
    font-size: 24px;
    color: #F28123;
    width: 65px;
    height: 65px;
    text-align: center;
    border: 2px #F28123 dotted;
    border-radius: 999px;
    margin-bottom: 20px;
    padding: 10px;
}
.shop-banner{
    position: relative;
    background-color: #f5f5f5;
    background-size: cover;
    padding: 110px 0px 115px;
}
.shop-content h2{
    font-size: 50px;
    line-height: 1.2em;
    margin-bottom: 0px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin: 0 0 1.25rem 0;
    color: #051922;
}
.shop-content .sale-percent span{
    position: relative;
    font-size: 24px;
    line-height: 1.1em;
    color: #051922;
    font-weight: 400;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
}
.sale-percent{
    position: relative;
    font-size: 60px;
    font-weight: 700;
    color: #F28123;
}
.sale-btn{
    padding: 15px 40px;
    margin-top: 30px;
    border-radius: 12px;
    background-color: #F28123;
    color: #f5f5f5;
    border: none;
    font-weight: bold;
    font-size: 1.5rem;
}
.sale-btn:hover{
    border: 1px solid #F28123;
    background-color: #f5f5f5;
    color: #F28123;
    font-weight: bold;
}